# Copy this file to .env and fill in your values
# Never commit .env to git

# PostgreSQL
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/fakenews_db

# App
APP_ENV=development
MODEL_PATH=model/saved/tfidf_logreg.joblib
VECTORIZER_PATH=model/saved/tfidf_vectorizer.joblib
